
<h1 align="center"><b>MovableBox</b></h1>

<div>
<button class="btn btn-primary" (click)="onCreateBox()">Create</button>
<button *ngIf="isKeyboardControl" (click)="keyboardControlToggle()" type="button" id="keyControl" class="btn btn-light" value="on">Keyboard On</button>
<button *ngIf="!isKeyboardControl" (click)="keyboardControlToggle()" type="button" id="keyControl" class="btn btn-dark" value="off">Keyboard off</button>
{{isKeyboardControl}}
</div>
<div #parentRoot class="parentRoot" id="parentRoot">
    </div>
